body {
	background-color: #26343F;
}

.logo, .title {
	color: white;
	font-family: sans-serif;
}

.logo {
	font-size:16px;
	margin-top:12px;
	padding-left:10px;
	margin-bottom:15px;
	display:inline-block;
}

.main, .contents {
	background-repeat: repeat-x;
	background: linear-gradient(to top right, rgba(29, 54, 73, 1), rgba(45, 63, 74, 0.98))
}

.title {
	font-size:48px;
	padding-top:50px;
	padding-left:90px;
	display:inline-block;
}

.contents {
	transform-origin: 0 0;
	transform: scale(1, 1);
}

/*
svg {
	opacity: 0.6;
	transition: opacity 0.25s ease-in-out;
}
svg:hover {
	opacity: 1.0;
	transition: opacity 0.25s ease-in-out;
}
*/